# Azure subscription/context
AZURE_SUBSCRIPTION_ID=00000000-0000-0000-0000-000000000000
AZURE_LOCATION=eastus
AZURE_RESOURCE_GROUP=rg-hebertpaes-platform-prod

# Shared naming
AZURE_ENV=prod
AZURE_PROJECT=hebertpaes

# Container registry
ACR_NAME=hebertpaesacrprod

# Log Analytics + ACA
LOG_ANALYTICS_NAME=log-hebertpaes-prod
ACA_ENV_NAME=cae-hebertpaes-prod
DJANGO_APP_NAME=ca-hebertpaes-django
FASTAPI_APP_NAME=ca-hebertpaes-fastapi

# PostgreSQL Flexible Server
POSTGRES_SERVER_NAME=psql-hebertpaes-prod
POSTGRES_DB=platformdb
POSTGRES_ADMIN_USER=pgadmin
POSTGRES_ADMIN_PASSWORD=ReplaceWithStrongPassword123!
POSTGRES_SKU=Standard_B2s
POSTGRES_STORAGE_GB=64

# Runtime secrets/env
DJANGO_SECRET_KEY=replace-me
JWT_SIGNING_KEY=replace-with-long-random-string
DJANGO_ALLOWED_HOSTS=api.hebertpaes.com,admin.hebertpaes.com
REDIS_URL=
